* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    grid-row: 1 / 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    background-color: black;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 2 / 3;
    background-color: lightgray;
}

.main-content {
    padding: 20px;
    background-color: lightgray;
}

aside {
    padding: 20px;
    background-color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    grid-row: 3 / 4;
}
