* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    height: 10vh;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;
}

.main-content {
    background-color: lightgray;
    flex: 3;
    padding: 20px;
    height: 75vh;
}

aside {
    background-color: white;
    flex: 1;
    padding: 20px;
    height: 70vh;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    height: 10vh;
}
