@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
    }

    #menu-toggle {
        display: none;
    }

    #temple-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
